.gradient{
    background: rgb(38,38,227);
    background: linear-gradient(90deg, rgba(38,38,227,1) 0%, rgba(41,41,190,1) 0%, rgba(0,176,249,1) 100%);
    .container 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    .card{
        color: white;
        margin: 0 30px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 420px;
        width: 300px;
        img{
            height: 130px;
            width: 130px;
            margin-bottom: 50px;
        }
        h5{
          
            
            font-size: 1.5rem;
            font-weight: bolder;
            width: 80%;
            margin-bottom: 10px;
            text-align: center;

        }
        p{
            width: 80%;
            font-size: 1rem;
            text-align: center;
        }
    }
    }
}