
.join{
    height: 90vh;
    
    overflow: hidden;
    background-image: url(../images/bondi-surf-beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position : relative;
    .overlay{
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color:#00000057;
        z-index: 1;
    }
    .txt{
            display: flex;
            flex-direction: row;
            justify-content: center;
        .heading{
            z-index: 2;
            text-align: center;
            position: absolute;
            color: white;
            top: 25%;
            left:33% ;
            h1{
                font-family: "SummerFont";
                font-size:85px;
            }
            h5{
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
            }
            .getStarted{
                padding: 10px 2rem;
                background-color: white;
                color: #1b9cc6;
                text-decoration: none;
                border-radius: 5px;
                margin-left: 30px;
                font-weight: bold;
            }
            .learnMore{
                padding: 10px 2rem;
                background-color: transparent;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;

                border: 2px solid white;
            }
              
              
        } 
    } 
    


}